.something {
  margin: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Oswald Bold';
  font-size: 12rem;
  line-height: 15rem;
  filter: blur(50px);
  color: blue;
}
